$primary_blue: hsl(246, 80%, 60%);
$work_color: hsl(15, 100%, 70%);
$play_color: hsl(195, 74%, 62%);
$study_color: hsl(348, 100%, 68%);
$exercise_color: hsl(145, 58%, 55%);
$social_color: hsl(264, 64%, 52%);
$self_color: hsl(43, 84%, 65%);
$hardcore_blue: hsl(226, 43%, 10%);
$dark_blue: hsl(235, 46%, 20%);
$pale_blue: hsl(236, 100%, 87%);